<title>Billing</title>
<style type="text/css">

  .panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
  }
  .panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
  }
  .panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
  }
  /********************************************************************/
  /*** PANEL DEFAULT ***/
  .with-nav-tabs.panel-default .nav-tabs > li > a,
  .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  }
  .with-nav-tabs.panel-default .nav-tabs > .open > a,
  .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
  }
  .with-nav-tabs.panel-default .nav-tabs > li.active > a,
  .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
  }
  .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
  }
  .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
  }
  .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
  .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
  }
  .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
  .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
  .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
  }
  /********************************************************************/
  /*** PANEL PRIMARY ***/
  .with-nav-tabs.panel-primary .nav-tabs > li > a,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
  }
  .with-nav-tabs.panel-primary .nav-tabs > .open > a,
  .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
  }
  .with-nav-tabs.panel-primary .nav-tabs > li.active > a,
  .with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
  }
  .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
  }
  .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
  }
  .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
  }
  .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
  .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
  }
  /********************************************************************/
  /*** PANEL SUCCESS ***/
  .with-nav-tabs.panel-success .nav-tabs > li > a,
  .with-nav-tabs.panel-success .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
  }
  .with-nav-tabs.panel-success .nav-tabs > .open > a,
  .with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-success .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
    background-color: #d6e9c6;
    border-color: transparent;
  }
  .with-nav-tabs.panel-success .nav-tabs > li.active > a,
  .with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
    color: #3c763d;
    background-color: #fff;
    border-color: #d6e9c6;
    border-bottom-color: transparent;
  }
  .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;
  }
  .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
  .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
  }
  .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
  .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
  .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
  }
  /********************************************************************/
  /*** PANEL INFO ***/
  .with-nav-tabs.panel-info .nav-tabs > li > a,
  .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
  }
  .with-nav-tabs.panel-info .nav-tabs > .open > a,
  .with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
    background-color: #bce8f1;
    border-color: transparent;
  }
  .with-nav-tabs.panel-info .nav-tabs > li.active > a,
  .with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-bottom-color: transparent;
  }
  .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;
  }
  .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
  }
  .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
  .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
  .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
  }
  /********************************************************************/
  /*** PANEL WARNING ***/
  .with-nav-tabs.panel-warning .nav-tabs > li > a,
  .with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
    color: #8a6d3b;
  }
  .with-nav-tabs.panel-warning .nav-tabs > .open > a,
  .with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
    color: #8a6d3b;
    background-color: #faebcc;
    border-color: transparent;
  }
  .with-nav-tabs.panel-warning .nav-tabs > li.active > a,
  .with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
    color: #8a6d3b;
    background-color: #fff;
    border-color: #faebcc;
    border-bottom-color: transparent;
  }
  .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b;
  }
  .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
  .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
  }
  .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
  .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
  .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
  }
  /********************************************************************/
  /*** PANEL DANGER ***/
  .with-nav-tabs.panel-danger .nav-tabs > li > a,
  .with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
    color: #a94442;
  }
  .with-nav-tabs.panel-danger .nav-tabs > .open > a,
  .with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
  .with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
  .with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
    color: #a94442;
    background-color: #ebccd1;
    border-color: transparent;
  }
  .with-nav-tabs.panel-danger .nav-tabs > li.active > a,
  .with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
  .with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
    color: #a94442;
    background-color: #fff;
    border-color: #ebccd1;
    border-bottom-color: transparent;
  }
  .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
  }
  .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */
  }
  .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
  .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
  }
  .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
  .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
  .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6" style="width:100%">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Payments you owe(Need to Pay)</a></li>
            <li><a href="#tab2default" data-toggle="tab">Payments you are owed ( Need to Receive)</a></li>

          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <div>
                <table>
                  <tr>
                    <td style="right: 0; ">
                      <input style="border: none; text-align: left;width: 40px; margin-right: 20px" type="text" value="Lab" readonly>
                    </td>
                    <td width="200px">
                      <select name="labidA" class="form-control" #labidA (change)="getBookingsToPayByLabs(labidA.value)">
                        <option>-select-</option>
                        <option *ngFor="let role of labs" [value]= "role.labId.id" >
                          <div *ngIf="role.roleId.id==1">{{role.labId.labName}}</div>
                        </option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
              <div style="height: 30px;"></div>
              <div>
                <table id="mytable1" class="table table-bordred table-striped">

                  <thead>
                  <th>Username</th>
                  <th>LabName</th>
                  <th>Equipement Name</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Total Cost</th>
                  </thead>
                  <tbody *ngFor="let booking of filteredLabToPay; let i = index">

                  <tr>
                    <td>{{booking.userId.lastName}}</td>
                    <td>{{booking.equipmentUnitId.equipment.lab.labName}}</td>
                    <td>{{booking.equipmentUnitId.equipment.equipmentName}}</td>
                    <td>{{booking.startTime}}</td>
                    <td>{{booking.endTime}}</td>
                    <td>{{booking.cost}}</td>
                    <td><input type="checkbox" data-md-icheck (change)="check($event, booking.cost, booking.id)" /></td>
                  </tr>
                  </tbody>
                </table>
                <hr>
                <table width="100%">
                  <tr>
                    <td width="60%">
                      <div><h4>Total Payment: ${{totalAmount}}</h4></div>
                    </td>
                    <td width="40%">
                      <div style="margin-left:75%"><a (click)="markPayment()" style="height: 30px; font-size:medium" class = "btn btn-primary btn-xs">Mark as Paid</a></div>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
            <div class="tab-pane fade" id="tab2default">
              <div>
                <table>
                  <tr>
                    <td style="right: 0; ">
                      <input style="border: none; text-align: left;width: 40px; margin-right: 20px" type="text" value="Lab" readonly>
                    </td>
                    <td width="200px">
                      <select name="labidO" class="form-control" #labidO (change)="getBookingOwedByLabs(labidO.value)">
                        <option>-select-</option>
                        <option *ngFor="let role of labs" [value]= "role.labId.id" >
                          <div *ngIf="role.roleId.id==1">{{role.labId.labName}}</div>
                        </option>
                      </select>
                    </td>

                  </tr>
                </table>
              </div>
              <div style="height: 30px;"></div>
              <div>
                <table id="mytable2" class="table table-bordred table-striped">

                  <thead>
                  <th>Username</th>
                  <th>LabName</th>
                  <th>Equipement Name</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Total Cost</th>
                  </thead>
                  <tbody *ngFor="let booking of filteredLabOwed; let i = index">

                  <tr>
                    <td>{{booking.userId.lastName}}</td>
                    <td>{{booking.userLabId.labName}}</td>
                    <td>{{booking.equipmentUnitId.equipment.equipmentName}}</td>
                    <td>{{booking.startTime}}</td>
                    <td>{{booking.endTime}}</td>
                    <td>{{booking.cost}}</td>
                  </tr>
                  </tbody>
                </table>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



