<style type="text/css">

  .form-control{
    background: transparent;
  }
  form {
    margin: 20px;
  }
  form > div {
    position: relative;
    overflow: hidden;
  }
  form input, form textarea {
    width: 100%;
    border: 2px solid gray;
    background: none;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
  }
  form input:valid, form textarea:valid {
    background: white;
  }
  form input:focus, form textarea:focus {
    border-color: #357EBD;
  }
  form input:focus + label, form textarea:focus + label {
    background: #357EBD;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
  }
  form label {
    -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: rgba(153, 153, 153, 0);;
    padding: 7px 6px;
    font-weight: normal;
    width: 1px;
  }
  form textarea {
    display: block;
    resize: vertical;
  }
  form.go-bottom input, form.go-bottom textarea {
    padding: 12px 12px 12px 12px;
  }
  form.go-bottom label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  form.go-bottom input:focus, form.go-bottom textarea:focus {
    padding: 4px 6px 20px 6px;
  }
  form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
    top: 100%;
    margin-top: -16px;
  }
  form.go-right label {
    border-radius: 0 5px 5px 0;
    height: 100%;
    top: 0;
    right: 100%;
    width: 100%;
    margin-right: -100%;
  }
  form.go-right input:focus + label, form.go-right textarea:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
  }
</style>
<div *ngIf="roleId==1">
  <p data-placement="top" data-toggle="tooltip" title="Lab Access" class="pull-right">
    <button class="btn btn-success btn-xs" data-title="Newlab" data-toggle="modal" data-target="#labaccess"><span
      class="glyphicon glyphicons-plus-sign">Request Lab Access</span>
    </button>
  </p>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of all labs</h3>
        <div class="box-tools">
          <div *ngIf="roleId!=2">
            <p data-placement="top" data-toggle="tooltip" title="New Lab" class="pull-right">
              <button class="btn btn-success btn-xs" data-title="Newlab" data-toggle="modal" data-target="#newlab"><span
                class="glyphicon glyphicons-plus-sign">Add Lab</span>
              </button>
            </p>
          </div>
          <div class="input-group input-group-sm" style="width: 150px;">
            <input [(ngModel)]="searchTerm" (ngModelChange)="search()" class="form-control pull-right"
                   placeholder="Search"/>
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pull-right">

      </div>
      <div class="box-body table-responsive no-padding" *ngIf="labs.length > 0" >
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Manager</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngFor="let lab of labs">
          <tr>
            <td>{{lab.labId.labName}}</td>
            <td>{{lab.userId.firstName}}</td>
            <td>{{lab.userId.email}}</td>
            <td>+923335586757</td>
            <td>
              <div *ngIf="lab.roleId.id==1 || lab.roleId.id==3" >
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                  <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" attr.data-target="#edit_{{lab.id}}"><span
                    class="glyphicon glyphicon-pencil"></span></button>
                </p>

                <div class="modal fade" id="edit_{{lab.id}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title custom_align" id="Heading">Edit Lab Detail</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <input class="form-control " type="text" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <input class="form-control " type="text" placeholder="Manager">
                      </div>
                      <div class="form-group">
                  <textarea rows="2" class="form-control"
                            placeholder="Description"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer ">
                      <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span
                        class="glyphicon glyphicon-ok-sign"></span> Update
                      </button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              </div>
            </td>
            <td>
              <div *ngIf="lab.roleId.id==1 || lab.roleId.id==3" >
              <p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" attr.data-target="#delete_{{lab.id}}">
                  <span class="glyphicon glyphicon-trash"></span></button>
              </p>

              <div class="modal fade" id="delete_{{lab.id}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title custom_align" id="Heading">Delete lab entry</h4>
                    </div>
                    <div class="modal-body">

                      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you
                        want to delete this lab? All the reservations will be cancelled.
                      </div>

                    </div>
                    <div class="modal-footer ">
                      <button type="button" (click)="deleteLab(lab.id)" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes
                      </button>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span> No
                      </button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newlab" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Lab</h4>
      </div>
      <form role="form" (ngSubmit)="f.form.valid && insertlab()" #f="ngForm" novalidate>
        <div class="modal-body">
          <div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lab_name.valid }">
              <input id="lab_name" name="lab_name" type="text" class="form-control" required placeholder="Lab Name"
                     [(ngModel)]="model.lab_name" #lab_name="ngModel" required>
              <div *ngIf="f.submitted && !lab_name.valid" class="help-block">Lab name is required</div>
              <label for="lab_name">Lab Name</label>
            </div>
            <div *ngIf="roleId == 3" class="form-group"
                 [ngClass]="{ 'has-error': f.submitted && !manager_fname.valid }">
              <input id="manager_fname" name="manager_fname" type="text" class="form-control" required
                     placeholder="Manager First Name" [(ngModel)]="model.manager_fname" #manager_fname="ngModel"
                     required>
              <div *ngIf="f.submitted && !manager_fname.valid" class="help-block">Lab manager first name is required
              </div>
              <label for="manager_fname">Manager First Name</label>
            </div>
            <div *ngIf="roleId == 3" class="form-group"
                 [ngClass]="{ 'has-error': f.submitted && !manager_lname.valid }">
              <input id="manager_lname" name="manager_lname" type="text" class="form-control" required
                     placeholder="Manager Last Name" [(ngModel)]="model.manager_lname" #manager_lname="ngModel"
                     required>
              <div *ngIf="f.submitted && !manager_lname.valid" class="help-block">Lab manager last name is required
              </div>
              <label for="manager_lname">Manager Last Name</label>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pi_name.valid }">
              <input id="pi_name" name="pi_name" type="text" class="form-control" required placeholder="PI Name"
                     [(ngModel)]="model.pi_name" #pi_name="ngModel" required>
              <div *ngIf="f.submitted && !pi_name.valid" class="help-block">Principal investigator name is required
              </div>
              <label for="pi_name">PI Name</label>
            </div>
            <div *ngIf="roleId == 3" class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <input id="email" name="email" type="text" class="form-control" required placeholder="Email ID"
                     [(ngModel)]="model.email" #email="ngModel" required>
              <div *ngIf="f.submitted && !email.valid" class="help-block">Email id is required</div>
              <label for="email">Email ID</label>
            </div>
            <div *ngIf="roleId == 3" class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
              <input id="phone" name="phone" type="text" class="form-control" required placeholder="Phone Number"
                     [(ngModel)]="model.phone" #phone="ngModel" required>
              <div *ngIf="f.submitted && !phone.valid" class="help-block">Lab name is required</div>
              <label for="phone">Phone Number</label>
            </div>
            <div *ngIf="roleId == 3" class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
              <input id="address" name="address" type="text" class="form-control" required placeholder="Address"
                     [(ngModel)]="model.address" #address="ngModel" required>
              <div *ngIf="f.submitted && !address.valid" class="help-block">Lab name is required</div>
              <label for="address">Address</label>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !message.valid }">
                <textarea id="message" name="message" class="form-control" required placeholder="Lab Details"
                          [(ngModel)]="model.message" #message="ngModel" required></textarea>
              <div *ngIf="f.submitted && !message.valid" class="help-block">Lab name is required</div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="background-color: #00a7d0" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="submit" style="background-color: #00a7d0" class="btn btn-outline">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="labaccess" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Request Lab Access</h4>
      </div>
      <form role="form">
        <div class="modal-body">
          <div>
            <div  class="form-group" style="width: 150px;">
              <select name="labidA" class="form-control" #labidA (change)="getUnrefferedLabs(labidA.value)">
                <option [value] = -1>Select</option>
                <option *ngFor="let role of labs" [value]= "role.labId.id" >
                  <div *ngIf="role.roleId.id==1">{{role.labId.labName}}</div>
                </option>
              </select>
            </div>
            <div  *ngIf="notreflabs.length > 0" class="form-group" style="width: 150px;" >
              <label>Request to</label>
              <select name="labid" class="form-control" #labid (change)="setReferedLab(labid.value)">
                <option [value] = -1>Select</option>
                <option *ngFor="let lab of notreflabs" [value]= "lab.id">
                  <div>{{lab.labName}}</div>
                </option>
              </select>
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" style="background-color: #00a7d0" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
          <button type="submit" style="background-color: #00a7d0" class="btn btn-outline" (click)="requestLabAccess(referedLab,currentLab)">Request</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="row" *ngIf="roldId != 3 && refinlabs != null && refinlabs.length>0">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of external Labs</h3>
      </div>
      <div class="row pull-right">

      </div>
      <div class="box-body table-responsive no-padding" *ngIf="refinlabs.length>0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Reffered to</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngFor="let lab of refinlabs">
          <tr>
            <td>{{lab.currentLab.labName}}</td>
            <td>{{lab.requestedLab.labName}}</td>
            <td></td>
            <td></td>
            <td>
              <div *ngIf="roldId == 1" >
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span
                  class="glyphicon glyphicon-pencil"></span></button>
              </p>
              </div>
            </td>
            <td>
              <div *ngIf="roldId == 1" >
              <p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                  <span class="glyphicon glyphicon-trash"></span></button>
              </p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="roldId != 2  && refoutlabs != null && refoutlabs.length>0">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">List of your labs accessed externally</h3>
      </div>
      <div class="row pull-right">

      </div>
      <div class="box-body table-responsive no-padding" *ngIf="refoutlabs.length>0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Reffered by</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngFor="let lab of refoutlabs">
          <tr>
            <td>{{lab.currentLab.labName}}</td>
            <td>{{lab.requestedLab.labName}}</td>
            <td></td>
            <td></td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span
                  class="glyphicon glyphicon-pencil"></span></button>
              </p>
            </td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                  <span class="glyphicon glyphicon-trash"></span></button>
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
